{% extends 'account/base.html' %}

{% block profile_card %}
    <div class="profile-card">
        <span class="layui-breadcrumb" style="padding: 15px;display: block;">
          <a href="/account">个人中心</a>
          <a href="/account/articles">发布的文章</a>
        </span>
        <ul class="profile-articles">
            {% for article in paginate.items %}
                <li>
                    <a href="/article/{{ article.id }}">{{ article.title }}</a>
                    {% if article.status==0 %}
                        <em class="pass">通过</em>
                    {% elif article.status==1 %}
                        <em class="review">审核中</em>
                    {% else %}
                        <em class="nopass">未通过</em>
                    {% endif %}
                    <span>{{ article.create_at }}</span>
                </li>
            {% endfor %}
        </ul>
        <div class="profile-pagination" style="text-align: center;">
            <div id="user_article"></div>
        </div>
    </div>
{% endblock %}

{% block footer_script %}
    <script>
      layui.use(function() {
        var laypage = layui.laypage;

        // 获取链接字段
        function getUrlParam(name) {
          var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)'); //构造一个含有目标参数的正则表达式对象
          var r = window.location.search.substr(1).match(reg);  //匹配目标参数
          if (r != null)
            return unescape(r[2]);
          return null; //返回参数值
        }

        function changeHref(url, arg, val) {
          var pattern = arg + '=([^&]*)';
          var replaceText = arg + '=' + val;
          return url.match(pattern) ? url.replace(eval('/(' + arg + '=)([^&]*)/gi'),
              replaceText) : (url.match('[\?]') ? url + '&' + replaceText : url + '?' +
              replaceText);
        }

        //执行一个laypage实例
        laypage.render({
          elem: 'user_article',//注意，这里的 test1 是 ID，不用加 # 号
          count: {{paginate.total}}, //数据总数，从服务端得到
          curr: {{paginate.page}},
          first: '首页',
          last: '尾页',
          limit: 10,
          prev: '上一页',
          next: '下一页',
          jump: function(obj) {

            if (obj.curr !== parseInt(getUrlParam('page'))) {
              window.location.href = changeHref(window.location.href, 'page', obj.curr);
            }
          },
        });
      });
    </script>
{% endblock %}
