{% extends 'account/base.html' %}


{% block profile_card %}
    <div class="profile-card">
        <span class="layui-breadcrumb" style="padding: 15px;display: block;">
          <a href="/account">个人中心</a>
          <a href="/account/collection">收藏文章</a>
        </span>
        <ul class="profile-articles">
            <li><a href="#">智能音箱“不智能”：这次轮到三星语音助手Bixby被吐槽了</a><em class="review">未通过</em><span>2018-1-17</span></li>
            <li><a href="#">智能音箱“不智能”：这次轮到三星语音助手Bixby被吐槽了</a><span>2018-1-17</span></li>
            <li><a href="#">智能音箱“不智能”：这次轮到三星语音助手Bixby被吐槽了</a><span>2018-1-17</span></li>
        </ul>
        <div class="profile-pagination" style="text-align: center;">
            <div id="test1"></div>
        </div>
    </div>
{% endblock %}

{% block footer_script %}

{% endblock %}