{% extends 'account/base.html' %}


{% block profile_card %}
    <div class="profile-card">
        <span class="layui-breadcrumb" style="padding: 15px;display: block;">
            <a href="/account">个人中心</a>
            <a href="/account/followed">我的关注</a>
        </span>
        <div class="author-cards">
            {% for user in paginate.items %}
                <div class="author_card">
                    <div class="card-header">
                        <a href="/account/author/{{ user.id }}" target="_blank" class="author_pic">
                            <img src="{{ user.avatar_url }}" alt="author_pic">
                        </a>
                        <a href="/account/author/{{ user.id }}" target="_blank"
                           class="author_name">{{ user.nick_name }}</a>
                    </div>
                    <div class="author_resume">{{ user.signature }}</div>
                    <div class="author-card-info">
                        <div class="writings"><span>总篇数：</span><b>{{ user.articles.count() }}</b></div>
                        <div class="follows"><span>粉丝：</span><b>{{ user.followers.count() }}</b></div>
                        {#                        <a href="javascript:;" class="focus" data-userid="{{ user.id }}">关注</a>#}
                        <a href="javascript:;" class="focused" data-userid="{{ user.id }}">
                            <span class="out">已关</span>
                            <span class="over" style="display: none">取关</span>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="profile-pagination" style="text-align: center;">
            <div id="follow_page"></div>
        </div>
    </div>
{% endblock %}


{% block footer_script %}
    <script>
      layui.use(function() {
        var $ = layui.jquery;
        var laypage = layui.laypage;

        // 获取链接字段
        function getUrlParam(name) {
          var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)'); //构造一个含有目标参数的正则表达式对象
          var r = window.location.search.substr(1).match(reg);  //匹配目标参数
          if (r != null)
            return unescape(r[2]);
          return null; //返回参数值
        }

        function changeHref(url, arg, val) {
          var pattern = arg + '=([^&]*)';
          var replaceText = arg + '=' + val;
          return url.match(pattern) ? url.replace(eval('/(' + arg + '=)([^&]*)/'),
              replaceText) : (url.match('[\?]') ? url + '&' + replaceText : url + '?' +
              replaceText);
        }

        //执行一个laypage实例
        laypage.render({
          elem: 'follow_page',//注意，这里的 test1 是 ID，不用加 # 号
          count: {{paginate.total}}, //数据总数，从服务端得到
          curr: {{paginate.page}},
          first: '首页',
          last: '尾页',
          limit: 6,
          prev: '上一页',
          next: '下一页',
          jump: function(obj) {

            if (obj.curr !== parseInt(getUrlParam('page'))) {
              window.location.href = changeHref(window.location.href, 'page', obj.curr);
            }
          },
        });

        $('.focus').click(function() {
          // 点击关注后获取当前用户的id，以及动作
          let user_id = $(this).attr('data-userid');
          let action = 'follow';
          fetch('/article/followed_user', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({
              'user_id': user_id,
              'action': action,
            }),
          }).then(response => response.json()).then(res => {
            if (res.status === 'success') {
              layui.layer.msg(res.message);
              setTimeout(function() {
                location.reload();
              }, 1000);
            } else {
              layui.layer.msg(res.message);
            }
          });
        });

        $('.focused').on({
          mouseover: function() {
            $(this).find('.over').show();
            $(this).find('.out').hide();
          },
          mouseout: function() {
            $(this).find('.over').hide();
            $(this).find('.out').show();
          },
          click: function() {
            let user_id = $(this).attr('data-userid');
            let action = 'unfollow';
            fetch('/article/followed_user', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
              },
              body: JSON.stringify({
                'user_id': user_id,
                'action': action,
              }),
            }).then(response => response.json()).then(res => {
              if (res.status === 'success') {
                layui.layer.msg(res.message);
                setTimeout(function() {
                  location.reload();
                }, 1000);
              } else {
                layui.layer.msg(res.message);
              }
            });
          },
        });
      });
    </script>
{% endblock %}