{#继承base模板#}
{% extends 'account/base.html' %}

<!--个人详情数据展示-->
{% block profile_menu %}
    <div class="profile-menu" style="padding-top: 10px">
        <div class="profile-picture">
            <img src="{{ current_user.avatar_url }}" alt="用户图片">
        </div>
        <div class="profile-name">{{ current_user.username }}</div>
        <!--个人信息操作列表-->
        <ul class="profile-option-list p-0">
            <li>
                <a class="active" href="/account/info">基本资料<i class="layui-icon layui-icon-right"></i></a>
            </li>
            <li><a href="/account/avatar">修改头像<i class="layui-icon layui-icon-right"></i></a></li>
            <li><a href="/account/password">修改密码<i class="layui-icon layui-icon-right"></i></a></li>
            <li><a href="/account/followed">我的关注<i class="layui-icon layui-icon-right"></i></a></li>
            <li><a href="/account/collection">我的收藏<i class="layui-icon layui-icon-right"></i></a></li>
            <li><a href="/account/articles">文章列表<i class="layui-icon layui-icon-right"></i></a></li>
            <li><a href="/account/release">文章发布<i class="layui-icon layui-icon-right"></i></a></li>
        </ul>
    </div>
{% endblock %}

{% block profile_card %}
    <div class="profile-card">
        <h3 style="padding: 15px">个人信息修改</h3>
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">昵称</label>
                <div class="layui-input-block">
                    <input type="text" name="nick_name"
                           required lay-verify="required"
                           placeholder="请输入昵称"
                           autocomplete="off"
                           class="layui-input"
                           value="{{ current_user.nick_name }}"
                    >
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">签名</label>
                <div class="layui-input-block">
                    <textarea name="signature" placeholder="请输入内容"
                              class="layui-textarea">{{ current_user.signature or '' }}</textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">性别</label>
                <div class="layui-input-block">
                    <input type="radio" name="gender" value="MAN" title="男"
                           {% if current_user.gender == 'MAN' %}checked{% endif %}>
                    <input type="radio" name="gender" value="WOMAN" title="女"
                           {% if current_user.gender == 'WOMAN' %}checked{% endif %}>
                    <input type="radio" name="gender" value="SECRET" title="保密"
                           {% if current_user.gender == 'SECRET' %}checked{% endif %}>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">生日</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" name="birth_day" id="birth_day"
                           style="width: 200px" value="{{ current_user.birthday.date() }}">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">立即修改</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block footer_script %}
    <script>
      layui.use('form', function() {
        var form = layui.form;
        var laydate = layui.laydate;

        // 执行一个 lay date 实例
        laydate.render({
          elem: '#birth_day', //指定元素
        });

        // 监听提交
        form.on('submit(formDemo)', function(data) {

          fetch('/account/info', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify(data.field),
          }).then(function(res) {
            return res.json();
          }).then(function(ret) {
            if (ret.status === 'status') {
              layui.layer.msg(ret.message);
              setTimeout(function() {
                window.location.reload();
              }, 1000);
            } else {
              layui.layer.msg(ret.message);
            }
            ;
          });

          return false;
        });
      });
    </script>
{% endblock %}
