{% extends 'account/base.html' %}


{% block profile_card %}
    <div class="profile-card">
        <span class="layui-breadcrumb" style="padding: 15px;display: block;">
          <a href="/account">个人中心</a>
          <a href="/account/release">文章发布</a>
        </span>
        <form class="layui-form" action="/account/release" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label">文章标题：</label>
                <div class="layui-input-block">
                    <input type="text" name="title" required lay-verify="required"
                           placeholder="请输入文章标题" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">类别：</label>
                <div class="layui-input-inline">
                    <select name="cate_id" lay-verify="required" lay-search="">
                        {% for cate in cate_list[1:] %}
                            <option value="{{ cate.id }}">{{ cate.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">摘要：</label>
                <div class="layui-input-block">
                    <textarea name="describe" placeholder="请输入内容" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">上传图像：</label>
                <div class="layui-input-block">
                    <button type="button" class="layui-btn" id="upload_picture">
                        <i class="layui-icon">&#xe67c;</i>上传图片
                    </button>
                    <img src="" alt="" id="show_avatar" style="height: 80px">
                    <input hidden type="text" name="image_url" class="input_file">
                </div>
            </div>
            <div class="layui-input-block">
                {#富文本编辑工具#}
                <input class="input_area" id="rich_content"
                       name="content" value="" style="height: 700px">
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="article_submit">提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block footer_script %}
    <script src="/static/tinymce/tinymce.min.js"></script>
    <script>
      layui.use(['form', 'upload'], function() {
        var form = layui.form;
        var upload = layui.upload;
        var layer = layui.layer;
        var $ = layui.jquery;

        // 初始化富文本编辑器
        tinymce.init({
          selector: '#rich_content',
          setup: function(editor) {
            editor.on('change', function() {
              editor.save();
            });
          },
          language: 'zh_CN', //调用放在langs文件夹内的语言包
          //工具栏上面的补丁按钮
          plugins: [
            'advlist',
            'autolink',
            'link',
            'image',
            'lists',
            'charmap',
            'preview',
            'anchor',
            'pagebreak',
            'searchreplace',
            'wordcount',
            'visualblocks',
            'visualchars',
            'code',
            'fullscreen',
            'insertdatetime',
            'media',
            'nonbreaking',
            'save',
            'table',
            'directionality',
            'template',
            'codesample',
          ],
          //工具栏的补丁按钮
          toolbar: 'insertfile undo redo | \
                     styleselect | \
                     bold italic | \
                     alignleft aligncenter alignright alignjustify | \
                     bullist numlist outdent indent | \
                     link image | \
                     print preview media fullpage | \
                     forecolor backcolor emoticons |\
                     codesample fontsizeselect fullscreen |\
                     imageupload',
          //字体大小
          fontsize_formats: '10pt 12pt 14pt 18pt 24pt 36pt',
          //按 tab 不换行
          nonbreaking_force_tab: true,
          imageupload_url: '/user/submit-image',
        });

        //提交文章图片
        upload.render({
          elem: '#upload_picture',//绑定元素
          url: '/upload/article_avatar', //上传接口
          done: function(res) {
            $('[name="image_url"]').val(res.article_avatar_url);
            $('#show_avatar').attr('src', res.article_avatar_url);
            layer.msg(res.message, {
              icon: 1,
              time: 1500,
            });
            //上传完毕回调
          },
          error: function() {
            //请求异常回调
            layer.msg('图片上传失败', {
              icon: 2,
              time: 1500,
            });
          },
        });
        form.on('submit(article_submit)', function(data) {
          fetch('/account/release', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify(data.field),
          }).then(response => response.json()).then(res => {
            if (res.status === 'success') {
              layer.msg(res.message, {
                icon: 1,
                time: 1500,
              });
              setTimeout(() => window.location.href = res.next, 1500);
            } else {
              layer.msg(res.message, {
                icon: 2,
                time: 1500,
              });
            }
          });
          return false;
        });
      });
    </script>
{% endblock %}