{% extends 'account/base.html' %}


{% block profile_card %}
    <div class="profile-card">
        <span class="layui-breadcrumb" style="padding: 15px;display: block;">
          <a href="/account">个人中心</a>
          <a href="/account/release">文章发布</a>
        </span>
        <form class="layui-form" action="/account/release" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label">文章标题：</label>
                <div class="layui-input-block">
                    <input type="text" name="title" required lay-verify="required"
                           placeholder="请输入文章标题" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">类别：</label>
                <div class="layui-input-inline">
                    <select name="cate_id" lay-verify="required" lay-search="">
                        {% for cate in cate_list[1:] %}
                            <option value="{{ cate.id }}">{{ cate.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">摘要：</label>
                <div class="layui-input-block">
                    <textarea name="describe" placeholder="请输入内容" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">上传图像：</label>
                <div class="layui-input-block">
                    <button type="button" class="layui-btn" id="test1">
                        <i class="layui-icon">&#xe67c;</i>上传图片
                    </button>
                    <input hidden type="text" name="image_url" class="input_file">
                </div>
            </div>
            <div class="layui-input-block">
                {#富文本编辑工具#}
                <input class="input_area" id="rich_content"
                       name="content" value="" style="height: 700px">
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">立即修改</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block footer_script %}

{% endblock %}