{% extends 'account/base.html' %}

{% block profile_card %}
    <div class="profile-card py-3">
        <span class="layui-breadcrumb" style="padding: 15px;display: block;">
          <a href="/account">Dora-个人中心</a>
          <a href="/account/password">修改密码</a>
        </span>

        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">当前密码：</label>
                <div class="layui-input-block avatar">
                    <input type="text" name="old_password" required lay-verify="required"
                           placeholder="请输入当前密码" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">新密码：</label>
                <div class="layui-input-block">
                    <input type="password" name="new_password" required lay-verify="required"
                           placeholder="请输入新密码" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">确认密码：</label>
                <div class="layui-input-block">
                    <input type="password" name="sure_password" required lay-verify="required"
                           placeholder="再次输入新密码" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="submit-password">立即修改</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>

    </div>
{% endblock %}

{% block footer_script %}
    <script>
      layui.use(function() {
        var form = layui.form;
        var layer = layui.layer;

        //提交
        form.on('submit(submit-password)', function(data) {
          if (data.field.new_password === data.field.sure_password) {
            fetch('/account/password', {
              method: 'POST',
              headers: {'Content-Type': 'application/json'},
              body: JSON.stringify(data.field),
            }).then(response => response.json()).then(res => {
              if (res.status === 'success') {
                layer.msg(res.message);
                // 修改完后需要重定向到登录界面
                setTimeout(function() {
                  {#window.location.href='/login'#}
                }, 1000);
              } else {
                layer.msg(status.message);
              }
            });
          } else {
            layer.msg('两次输入的新密码不一致');
          }
          return false;
        });
      });
    </script>
{% endblock %}
