    <div class="layui-footer footer">
        <div class="footer_links">
            <a href="#">菩提本无树</a>
            <span>|</span>
            <a href="#">明镜亦非台</a>
            <span>|</span>
            <a href="#">本来无一物</a>
            <span>|</span>
            <a href="#">何处惹尘该</a>
        </div>
        <p class="copyright">
            CopyRight © 2022 Dora All Rights Reserved<br>
            电话：136****4401 <a href="https://beian.miit.gov.cn" class="copyright"><span class="footer_links">粤ICP备2022061779 号</span></a>
        </p>
    </div>
