<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>角色管理</title>
    <link href="../../../static/pear/component/pear/css/pear.css" rel="stylesheet"/>
</head>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <div class="layui-form-item layui-inline">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="realName" placeholder="" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-inline">
                    <label class="layui-form-label">性别</label>
                    <div class="layui-input-inline">
                        <input type="text" name="realName" placeholder="" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-inline">
                    <label class="layui-form-label">邮箱</label>
                    <div class="layui-input-inline">
                        <input type="text" name="realName" placeholder="" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-inline">
                    <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="role-query">
                        <i class="layui-icon layui-icon-search"></i>
                        查询
                    </button>
                    <button type="reset" class="pear-btn pear-btn-md">
                        <i class="layui-icon layui-icon-refresh"></i>
                        重置
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-body">
        <table id="article-table" lay-filter="article-table"></table>
    </div>
</div>
<script type="text/html" id="article-toolbar">
    <div class="layui-btn-container">
        <button class="pear-btn pear-btn-danger pear-btn-xs" lay-event="batchRemove">
            <i class="layui-icon layui-icon-delete"></i>
            删除
        </button>
    </div>
</script>
<script type="text/html" id="article-toolEvent">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script src="../../../static/pear/component/layui/layui.js"></script>
<script src="../../../static/pear/component/pear/pear.js"></script>
<script>
  layui.use('table', function() {
    var table = layui.table;

    //渲染表格
    table.render({
      elem: '#article-table'
      , url: '/api/v1/admin/article/' //数据接口
      , page: true //开启分页
      , skin: 'line'
      , toolbar: '#article-toolbar'
      , scrollPos: 'fixed'
      , cols: [
        [ //表头
          {type: 'checkbox'}
          , {field: 'id', title: 'ID', sort: true, hide: true}
          , {field: 'title', title: '标题'}
          , {field: 'source', title: '来源', sort: true}
          , {field: 'digest', title: '摘要', hide: true}
          , {field: 'content', title: '文章内容'}
          , {field: 'clicks', title: '点击数', sort: true}
          , {field: 'index_image_rul', title: '头像地址', hide: true}
          , {field: 'status', title: '状态', sort: true}
          , {field: 'reason', title: '原因', hide: true}
          , {field: 'category_id', title: '分类', sort: true, hide: true}
          , {field: 'user_id', title: '作者', sort: true}
          , {field: 'create_at', title: '创建时间', sort: true, hide: true}
          , {field: 'update_at', title: '修改时间', sort: true, hide: true}
          , {title: '操作', width: 200, templet: '#article-toolEvent'},
        ]],
    });

    //触发批量删除事件
    table.on('toolbar(article-table)', function(obj) {
      if (obj.event === 'batchRemove') {
        window.batchRemove(obj);
      }
    });

    table.on('tool(article-table)', function(obj) {
      var data = obj.data; //获得当前行数据
      var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
      var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）

      if (layEvent === 'edit') {
        window.edit(obj);
      } else if (layEvent === 'del') { //删除
        window.remove(obj);
      }
    });

    //待修改
    window.batchRemove = function(obj) {
      var checkIds = common.checkField(obj, 'id');
      console.log(obj);
      if (checkIds === '') {
        layer.msg('未选中数据', {
          icon: 3,
          time: 1000,
        });
        return false;
      }
      layer.confirm('确定要删除这些用户', {
        icon: 3,
        title: '提示',
      }, function(index) {
        layer.close(index);
        let loading = layer.load();
        $.ajax({
          url: '/api/v1/admin/article/' + ids,
          dataType: 'json',
          type: 'delete',
          success: function(result) {
            layer.close(loading);
            if (result.status === 'success') {
              layer.msg(result.message, {
                icon: 1,
                time: 1000,
              }, function() {
                table.reload('user-table');
              });
            } else {
              layer.msg(result.message, {
                icon: 2,
                time: 1000,
              });
            }
          },
        });
      });
    };

    // 删除一条数据
    window.remove = function(obj) {
      layer.confirm('确定删除吗？', {icon: 3, title: '提示'}, function(index) {
        obj.del(); // 删除对应行（tr）的 DOM 结构，并更新缓存
        layer.close(index);
        let loading = layer.load();
        let id = obj.data.id;
        fetch(' /api/v1/admin/article/' + id, {
          method: 'DELETE',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(obj.data.id),
        }).then(response => response.json()).then(res => {
          layer.close(loading);
          if (res.status === 'success') {
            layer.msg(res.message, {
              icon: 1,
              time: 1000,
            }, function() {
              obj.del();
            });
          } else {
            layer.msg(result.message, {
              icon: 2,
              time: 1000,
            });
          }
        });
      });
    };
  });


</script>

</body>
</html>
