<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>首页-Dore</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>

{% include 'bbs/includs/header.html' %}

<!--中间内容部分-->
<main>
    <div class="container mt-2">
        <div class="row">
            <!--文章列表-->
            <div class="col-12 col-md-9 px-0">
                <div class="articles d-flex flex-column">
                    <!--文章列表内容-->
                    {% for article in paginate.items %}
                        <div class="card mb-2 article" >
                            <div class="row g-0">
                                <div class="col-md-2">
                                    <img src="{{ article.index_image_url  }}"
                                         class="img-fluid rounded-start"
                                         alt="...">
                                </div>
                                <div class="col-md-10">
                                    <div class="card-body h-100 d-flex flex-column justify-content-between">
                                        <a class="card-title" href="/article/{{ article.id }}">{{ article.title }}</a>
                                        <a class="card-text" href="/article/{{ article.id }}">{{ article.digest }}</a>
                                        <p class="card-text small">
                                            <a href="/user" class="text-muted">{{ article.user.nick_name }}</a>
                                            <span class="text-muted">・{{ article.create_at }}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <ul class="pagination justify-content-center">
                    <li class="page-item {% if not paginate.has_prev %}disabled{% endif %}">
                        <a class="page-link"
                           href="{% if paginate.has_prev %}/?page={{ paginate.prev_num }}&cid=
                               {{ cid }}{% else %}#{% endif %} ">
                            &lt;</a>
                    </li>
                    {% for page in paginate.iter_pages(left_edge=1, left_current=2, right_current=2, right_edge=1) %}
                        <li class="page-item">
                            {% if page != None %}

                                <a class="page-link {% if paginate.page==page %} active {% endif %}"
                                   href="/?cid={{ cid }}&page={{ page }}">{{ page }}</a>
                            {% else %}
                                <a class="page-link" href="#">...</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                    <li class="page-item {% if not paginate.has_next %}disabled{% endif %}">
                        <a class="page-link"
                           href="{% if  paginate.has_next %}/?page={{ paginate.next_num }}&cid=
                               {{ cid }}{% else %}#{% endif %}">&gt;</a>
                    </li>
                </ul>
            </div>
            <div class="col-3 pr-0 hidden-sm hidden-md ps-2">
                <div class="card rank">
                    <div class="card-header rank_title p-0">
                        <h3>热门文章</h3>
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for Article in click_article_list %}
                            <li class="list-group-item"><a href="/article/{{ Article.id }}">{{ Article.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </div>
    </div>
</main>


{% include 'bbs/includs/footer.html' %}

<script>

</script>
</body>
</html>