<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>Dore-注册</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/bbs/auth.css">
</head>
<body>

<form class="layui-form" action="javascript:void(0);">
    <div class="layui-form-item">
        <img class="logo" src="/static/images/logo2.png"/>
        <div class="title">D O R E</div>
        <div class="desc">
            D o r e 后 台 管 理 -- 注 册
        </div>
    </div>
    <div class="layui-form-item">
        <input name="username" type="text" lay-verify="required|username" placeholder="请输入账户：" value="" hover
               class="layui-input"
               autocomplete="off"/>
    </div>
    <div class="layui-form-item">
        <input name="password" type="password" lay-verify="required|pass" placeholder="请输入密码：" value="" hover
               class="layui-input"/>
    </div>
    <div class="layui-form-item">
        <input placeholder="验证码 : " name="captcha_code" lay-verify="required"
               hover class="code layui-input layui-input-inline"/>
        <img src="" class="codeImage" id="captchaImage"/>
    </div>
    <div class="layui-form-item">
        <input name="phone" type="text" lay-verify="required|phone" placeholder="手机号:" value="" hover
               class="code layui-input layui-input-inline"
               autocomplete="off"/>
        <!--点击发送短信-->
        <div class="layui-form-mid layui-word-aux"><a href="javascript:;" class="send_sms">获取短信验证码</a>
        </div>
    </div>
    <div class="layui-form-item">
        <input name="sms_captcha" type="text" lay-verify="required" placeholder="短信验证码:" value=""
               hover class="layui-input" autocomplete="off" id="captchaImage"/>
    </div>

    <div class="layui-form-item">
        <button class="layui-btn" lay-submit lay-filter="register">
            注 册
        </button>
    </div>
    <div class="layui-form-item">
        <div class="layui-form-mid layui-word-aux">
            已有账号？ <a href="./login" style="color: #59b7a7;">登录</a>
        </div>
    </div>
</form>

<script src="/static/layui/layui.js"></script>
<script src="/static/js/main.js"></script>
<script>
  layui.use(function() {
    let form = layui.form;
    let $ = layui.jquery;
    let captchaPath = '/get_captcha'; /*图片验证的访问地址*/
    let captcha_code_uuid = '';  /*定义图片验证码的 uuid */
    // 校验用户账号不能含有中文校验(等待添加)

    // 点击图片更新验证码
    $('#captchaImage').click(function() {
      update_captcha_image();
    });

    // 更新验证码图片
    function update_captcha_image() {
      // 获取验证码uuid
      captcha_code_uuid = generateUUID();
      // 向后端请求验证码，请求地址携带uuid
      document.getElementById('captchaImage').src = captchaPath +
          '?captcha_code_uuid=' +
          captcha_code_uuid;
    }

    // 定时器，定时更新验证码
    setInterval(update_captcha_image, 300 * 1000);

    // 每次进入页面之后,自动刷新验证码
    update_captcha_image();

    // 发送手机验证码
    $('.send_sms').click(function() {
      let captcha_code = $('[name="captcha_code"]').val();
      let phone = $('[name="phone"]').val();
      if (captcha_code === '') {
        layer.msg('验证码不能为空');
        return false;
      }
      if (phone === '') {
        layer.msg('手机号不能为空');
        return false;
      }
      // 向后端校验验证码 验证码uuid 以及手机号
      let data = {
        captcha_code: captcha_code,
        captcha_code_uuid: captcha_code_uuid,
        phone: phone,
      };
      const option = {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify(data),
      };
      fetch('/sms_code', option).then((response) => response.json()).then(function(res) {
        if (res.status === 'fail') {
          layer.msg(res.message);
        } else {
          layer.msg(res.message);
          // 发送成功
          let num = 60;
          let t = setInterval(function() {
            if (num === 1) {
              clearInterval(t);
              $('.send_sms').html('点击获取验证码');
            } else {
              num -= 1;
              $('.send_sms').html(num + '秒');
            }
          }, 1000);
        }
      });
    });

    // 获取数据并向后端动态加载数据进行校验
    async function register(data) {
      data['sms_captcha'] = $('[name="sms_captcha"]').val();
      data['captcha_code_uuid'] = captcha_code_uuid;
      const options = {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify(data),
      };
      const response = await fetch('/register', options);
      return await response.json();

    }

    // 监听注册按钮事件
    form.on('submit(register)', async function(data) {
      var field = data.field;
      const result = await register(data.field);
      if (result.status === 'success') {
        layer.msg('注册成功 2s 之后跳转到登录页面');
        setTimeout(function() {
          window.location.href = '/login';
        }, 2000);

      } else {
        layui.layer.msg(result.message);
        update_captcha_image();
      }
      return false;
    });
  });
</script>
</body>
</html>