<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>用户详情页</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/account.css">

</head>
<body>

{% include 'bbs/includs/header.html' %}

<!--中间内容部分-->
<main class="container mt-2">
    <!--新闻列表-->
    <div class="row mt-2">
        <div class="col-md-3">
            <div class="profile-menu d-flex flex-column">
                <div class="profile-picture">
                    <img src='{{ user.avatar_url }}' alt="用户图片">
                </div>
                <div class="profile-name">{{ user.nick_name }}</div>

                <ul class="profile-detail">
                    <li>性 别：{{ user.gender }}</li>
                    <li>签 名：{{ user.signature }}</li>
                </ul>

                <div class="focus-profile">
                    <a href="javascript:;" class="focused" data-userid="{{ user.id }}"
                       style="display: none"
                    >
                        <span class="out">已关</span>
                        <span class="over">取关</span>
                    </a>

                    <a href="javascript:;" class="focus" data-userid="{{ user.id }}"
                       style="display: {% if user.id not in current_user.followed %}inline-block{% else %} none {% endif %}">关注</a>
                </div>

            </div>
        </div>
        <div class="col-md-9">
            <div class="profile-card px-3">
                <h3 class="text-center py-3">文章列表</h3>
                <table class="table">
                    <tbody>
                    {% for item in paginate.items %}
                        <tr>
                            <td><a href="/article/{{ item.id }}">{{ item.title }}</a></td>
                            <td>通过</td>
                            <td><span class="text-muted">{{ item. create_at }}</span></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <nav class="d-flex justify-content-center">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">&lt;</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">&gt;</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</main>

{% include 'bbs/includs/footer.html' %}

<script>
  layui.use(function() {
    var laypage = layui.laypage;
    var $ = layui.jquery;

    //执行一个laypage实例
    laypage.render({
      elem: 'article',//注意，这里的 test1 是 ID，不用加 # 号
      count: {{paginate.total}}, //数据总数，从服务端得到
      curr: {{paginate.page}},
      first: '首页',
      last: '尾页',
      limit: 10,
      prev: '上一页',
      next: '下一页',
      jump: function(obj) {

        if (obj.curr !== parseInt(getUrlParam('page'))) {
          window.location.href = changeHref(window.location.href, 'page', obj.curr);
        }
      },
    });

    // 关注用户 向后台提交作者id，提交关注/取消关注动作，提交当前用户id(current_user)
    $('.focus').click(async function() {
      const user_id = $(this).attr('data-userid');
      const params = {
        'action': 'follow',
        'user_id': user_id,
      };
      const result = await followed_user(params);
      if (result.status === 'success') {
        window.location.reload();
      } else if (
          result.code === '4101'
      ) {
        window.location.href = '/login';
      } else {
        //关注失败
        alert(result.message);
      }

    });

    // 取消关注
    $('.focused').on({
      mouseover: function() {
        $(this).find('.out').hide();
        $(this).find('.over').show();
      },
      mouseout: function() {
        $(this).find('.out').show();
        $(this).find('.over').hide();
      },
      click: async function() {
        const user_id = $(this).attr('data-userid');
        const params = {
          'action': 'unfollow',
          'user_id': user_id,
        };
        const result = await followed_user(params);
        if (result.status === 'success') {
          window.location.reload();
        } else if (
            result.code === '4101'
        ) {
          window.location.href = '/login';
        } else {
          //取消关注失败
          alert(result.message);
        }

      },

    });
  });
</script>

</body>
</html>